.Login_page{
    display: flex;
    justify-content: center;  
}
.parentContainer{
    padding: 21px;
    width: 31%;
    border-radius: 10px;
    background-color: #eb7a34;
    position: absolute;
    left: 30%;
    top: 20%;
    color: white;
}
.parentContainer>input{
    width:85%;
    padding: 5px;
    border-radius: 2px;
    border-style: none;
}
.parentContainer>h2{
    font-size: 22px;
    font-weight: 600;
    padding: 5px 0px;
}
.parentContainer>label{
    padding: 5px 0px;
    font-size: 16px;
}
.Button_link>a{
    float: right;
}
.Button_link>button{
    float: left;
}